.houseline-icon4 {
  position: relative;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.real-state4,
.reis4 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.real-state4 {
  font-size: var(--body-small-400-size);
  line-height: 16px;
  font-weight: 500;
}
.logo4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.home4,
.properties5 {
  position: relative;
  line-height: 22px;
}
.properties5 {
  font-weight: 600;
}
.navigation2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.hamburger-menu-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.hamburger2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigation-right2 {
  justify-content: flex-end;
  gap: var(--gap-17xl);
  font-size: var(--body-small-400-size);
  color: var(--primary-900);
}
.navigation-right2,
.top-container2,
.top-header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-container2 {
  flex: 1;
  justify-content: space-between;
  text-align: center;
  font-size: var(--header-heading-4-size);
  color: var(--primary-500);
  font-family: var(--body-regular-600);
}
.top-header2 {
  align-self: stretch;
  background-color: var(--gray-white);
  height: 98px;
  padding: var(--padding-3xl) var(--padding-61xl);
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 2;
}
.find-your-dream1 {
  align-self: stretch;
  position: relative;
  line-height: 72px;
  font-weight: 600;
}
.vestibulum-ante-ipsum5 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-large-400-size);
  line-height: 28px;
  font-family: var(--body-regular-600);
  color: var(--primary-50);
}
.text14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.rent3 {
  position: relative;
  font-size: var(--body-regular-400-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-regular-600);
  color: var(--gray-white);
  text-align: center;
}
.rent2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--primary-500);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sale3 {
  position: relative;
  font-size: var(--body-regular-400-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-regular-600);
  color: var(--primary-400);
  text-align: center;
}
.sale2,
.tabs1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sale2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--gray-white);
  border-radius: var(--br-9xs);
  overflow: hidden;
}
.tabs1 {
  gap: var(--gap-3xs);
}
.locations3 {
  text-transform: capitalize;
  font-weight: 600;
}
.locations3,
.text15 {
  position: relative;
  line-height: 24px;
}
.vector-icon4 {
  position: relative;
  width: 10px;
  height: 6px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dropdownlink4,
.locations2 {
  display: flex;
  justify-content: flex-start;
}
.dropdownlink4 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  text-align: left;
  color: var(--gray-400);
}
.locations2 {
  width: 137px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: center;
}
.property-type3 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 150px;
}
.dropdownlink5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  color: var(--gray-400);
}
.property-type2,
.rent-range2 {
  width: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.rent-range2 {
  width: 155px;
}
.search-cta1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--primary-500);
  border-radius: var(--br-9xs);
  width: 102px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.search-cta1:hover {
  background-color: #2b3a67;
}
.formcontainer1,
.formwrapper1,
.search-cta1 {
  display: flex;
  flex-direction: row;
}
.formcontainer1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  padding: var(--padding-13xl) var(--padding-43xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
}
.formwrapper1 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.rentsale1 {
  justify-content: flex-start;
  gap: var(--gap-mid);
  text-align: left;
  font-size: var(--body-regular-400-size);
  color: var(--primary-700);
  font-family: var(--body-regular-600);
}
.hero-section-contents1,
.hero-section1,
.rentsale1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-section-contents1 {
  justify-content: center;
  gap: var(--gap-43xl);
  max-width: 95%px;
}
.hero-section1 {
  padding: var(--padding-101xl) var(--padding-11xl);
  justify-content: flex-start;
  background-image: url(./public/hero-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--display-size);
  color: var(--gray-white);
  font-family: var(--body-regular-400);
}
.properties-by-area1 {
  align-self: stretch;
  position: relative;
  line-height: 48px;
  font-weight: 600;
}
.vestibulum-ante-ipsum6 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-large-400-size);
  line-height: 28px;
  color: var(--gray-400);
}
.description4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-11xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.centerville4 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.listings5 {
  position: relative;
  font-size: var(--body-regular-400-size);
  line-height: 24px;
  text-align: center;
}
.card-14,
.text18 {
  display: flex;
  align-items: flex-start;
}
.text18 {
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 16px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  z-index: 0;
}
.card-14 {
  flex-direction: row;
  background-image: url(./public/card-1@3x.png);
}
.card-14,
.card-24,
.card-34 {
  flex: 1;
  border-radius: var(--br-5xs);
  height: 241px;
  justify-content: flex-start;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.card-24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-image: url(./public/card-2@3x.png);
}
.card-34 {
  background-image: url(./public/card-3@3x.png);
}
.card-34,
.card-44,
.card-52,
.row-11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.row-11 {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-7xl);
}
.card-44,
.card-52 {
  flex: 1;
  border-radius: var(--br-5xs);
  height: 241px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
  background-image: url(./public/card-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.card-52 {
  background-image: url(./public/card-5@3x.png);
}
.cards2,
.cardwrapper2,
.row-21 {
  align-self: stretch;
  display: flex;
}
.row-21 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.cards2,
.cardwrapper2 {
  flex: 1;
}
.cardwrapper2 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 1300px;
}
.cards2 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  max-width: 95%px;
  text-align: left;
  font-size: var(--header-heading-4-size);
  color: var(--gray-white);
}
.area-labels1,
.properties-by-area-images-sect1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.properties-by-area-images-sect1 {
  flex: 1;
  padding: var(--padding-34xl) var(--padding-31xl);
  gap: var(--gap-26xl);
}
.area-labels1 {
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 95%px;
}
.icon4 {
  position: relative;
  width: 78px;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sell-your-home3 {
  position: relative;
  font-size: var(--header-heading-4-size);
  line-height: 32px;
  font-weight: 600;
  text-align: center;
}
.read-more4,
.we-do-a4 {
  position: relative;
  line-height: 24px;
}
.we-do-a4 {
  color: var(--gray-400);
  display: flex;
  align-items: flex-end;
  width: 268px;
}
.read-more4 {
  color: var(--primary-500);
}
.contents9,
.free-marketing2,
.rent-your-home2,
.sell-your-home2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contents9 {
  gap: var(--gap-5xl);
}
.free-marketing2,
.rent-your-home2,
.sell-your-home2 {
  border-radius: var(--br-9xs);
  background-color: var(--gray-white);
  box-shadow: 0 24px 68px rgba(59, 77, 129, 0.08);
  padding: var(--padding-3xl);
  box-sizing: border-box;
  min-width: 300px;
  max-width: 340px;
}
.free-marketing2,
.rent-your-home2 {
  width: 312px;
  padding: var(--padding-3xl) var(--padding-base);
}
.free-marketing2 {
  padding: var(--padding-3xl) var(--padding-xl);
}
.properties-row1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-67xl);
  text-align: left;
  font-size: var(--body-regular-400-size);
  color: var(--gray-700);
}
.area-content1 {
  align-self: stretch;
  padding: var(--padding-56xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-35xl);
  max-width: 95%px;
}
.area-content1,
.properties-by-area-feature-car1,
.text23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.properties-by-area-feature-car1 {
  align-self: stretch;
  background-color: var(--primary-50);
  padding: var(--padding-51xl) 0;
}
.text23 {
  width: 688px;
  gap: var(--gap-5xl);
  max-width: 95%px;
}
.property-image-icon12 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
}
.allium-place-orlando12 {
  flex: 1;
  position: relative;
  line-height: 20.32px;
  font-weight: 500;
}
.property-name12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div50 {
  position: relative;
  line-height: 18.98px;
  font-weight: 600;
}
.price12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13.55px;
  color: var(--primary-500);
}
.car-icon12 {
  position: relative;
  width: 17.42px;
  height: 17.42px;
  object-fit: cover;
}
.div51 {
  position: relative;
  line-height: 16.27px;
  font-weight: 500;
}
.more-details12,
.parking12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parking12 {
  align-items: center;
  gap: 4.35px;
}
.more-details12 {
  align-self: stretch;
  padding: 0 var(--padding-3xs);
  align-items: flex-start;
  gap: var(--gap-mid);
  font-size: 10.84px;
  color: var(--gray-500);
}
.user-child9 {
  position: relative;
  border-radius: 50%;
  width: 27.57px;
  height: 27.57px;
  object-fit: cover;
}
.jenny-wilson12 {
  position: relative;
  line-height: 17.42px;
  font-weight: 500;
}
.user12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5.81px;
}
.sharenetwork-icon8 {
  position: relative;
  width: 14.51px;
  height: 14.51px;
  object-fit: cover;
}
.share12 {
  border-radius: 1.45px;
  background-color: var(--primary-50);
  padding: 2.902620315551758px;
  align-items: flex-start;
  justify-content: flex-start;
}
.container13,
.ctas12,
.share12 {
  display: flex;
  flex-direction: row;
}
.ctas12 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.71px;
}
.container13 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 11.61px;
}
.card-15 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 466.99px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-smi);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  min-width: 355px;
  max-width: 400px;
}
.card-15:hover {
  background-color: var(--color-gainsboro);
  cursor: pointer;
}
.cards-row1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: 14.51px;
  color: var(--gray-700);
}
.contents14,
.cta2 {
  display: flex;
  justify-content: flex-start;
}
.contents14 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-21xl);
  max-width: 95%px;
}
.cta2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--primary-500);
  border-radius: var(--br-9xs);
  flex-direction: row;
  align-items: flex-start;
}
.cta2:hover,
.form-submit-button1:hover {
  background-color: var(--color-royalblue);
}
.latest-properties-of-rent-card3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-67xl) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-20xl);
}
.mappin-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.washington4 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.details4,
.location4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.details4 {
  align-self: stretch;
  height: 24px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-13xl);
}
.card-16,
.card-26,
.card-36,
.card-46 {
  flex: 1;
  border-radius: var(--br-7xs);
  height: 426px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./public/card-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 355px;
  max-width: 370px;
}
.card-26,
.card-36,
.card-46 {
  background-image: url(./public/card-21@3x.png);
}
.card-36,
.card-46 {
  background-image: url(./public/card-31@3x.png);
}
.card-46 {
  background-image: url(./public/card-41@3x.png);
}
.card-row1,
.contents15 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-21xl);
}
.card-row1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--body-regular-400-size);
  color: var(--gray-white);
}
.contents15 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 95%px;
}
.are-you-looking1,
.enquiry-form1 {
  align-self: stretch;
  position: relative;
  line-height: 36px;
}
.are-you-looking1 {
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-family: var(--components-input-text);
  color: var(--color-slategray);
}
.form-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.first-name1 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.input3,
.input4 {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-100);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs);
}
.input3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input4 {
  justify-content: center;
}
.destination-name-input1,
.input-row1,
.input4,
.input5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.input-row1 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-3xs);
}
.destination-name-input1,
.input5 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-100);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs);
  justify-content: flex-start;
}
.input5 {
  box-sizing: border-box;
  height: 105px;
  padding: var(--padding-xs);
}
.submit1 {
  position: relative;
  font-size: var(--body-regular-400-size);
  font-family: var(--components-input-text);
  color: var(--gray-white);
  text-align: center;
  display: inline-block;
  width: 203.12px;
}
.form-submit-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--primary-500);
  border-radius: var(--br-9xs);
  width: 222px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-fields1 {
  align-self: stretch;
  gap: var(--gap-3xs);
  font-size: var(--body-regular-400-size);
  color: var(--color-darkgray);
  font-family: var(--components-input-text);
}
.contents16,
.form-fields1,
.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.form1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--gray-white);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  padding: var(--padding-9xl) var(--padding-11xl);
  gap: var(--gap-mid);
  text-align: left;
  font-size: var(--header-heading-4-size);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.contents16 {
  flex: 1;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 900px;
}
.latest-properties-of-rent-card5 {
  align-self: stretch;
  background-color: var(--primary-50);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-67xl) var(--padding-8xs);
  align-items: flex-start;
  justify-content: center;
}
.reis-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us10 {
  position: relative;
  font-size: var(--header-heading-4-size);
  line-height: 32px;
  font-weight: 600;
  color: var(--gray-black);
}
.praesent-nulla-massa2 {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  width: 312px;
}
.email-examplemailcom2 {
  position: relative;
  line-height: 24px;
  color: var(--gray-700);
}
.contact-details2 {
  align-self: stretch;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  text-align: left;
  font-size: var(--body-regular-400-size);
  color: var(--gray-500);
  font-family: var(--body-regular-400);
}
.social-media-logo10 {
  position: relative;
  width: 20px;
  height: 21.67px;
  object-fit: cover;
}
.social-media-card10 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: center;
}
.social-media-logo11 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.social-media2 {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contact-us9 {
  width: 312px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  color: var(--primary-500);
  font-family: var(--body-regular-600);
}
.features-sub-categories2 {
  align-self: stretch;
  height: 184px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--body-regular-400-size);
  color: var(--gray-500);
}
.features-sub-categories2,
.features4,
.terms-and-policies-subcategori2 {
  flex-direction: column;
  justify-content: flex-start;
}
.features4 {
  width: 173px;
  height: 248px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.terms-and-policies-subcategori2 {
  align-self: stretch;
  height: 104px;
  gap: var(--gap-base);
  font-size: var(--body-regular-400-size);
  color: var(--gray-500);
}
.footer2,
.terms-and-policies-subcategori2,
.terms-and-policies2 {
  display: flex;
  align-items: flex-start;
}
.terms-and-policies2 {
  width: 203px;
  height: 168px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.footer2 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-size: var(--header-heading-4-size);
  color: var(--gray-black);
  font-family: var(--body-regular-400);
}
.footer-section2,
.landing-page1 {
  display: flex;
  justify-content: flex-start;
}
.footer-section2 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-31xl);
  align-items: flex-start;
}
.landing-page1 {
  position: relative;
  background-color: var(--gray-white);
  width: 100%;
  height: 5095.99px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--heading-heading-1-size);
  color: var(--primary-800);
  font-family: var(--body-regular-600);
}
@media screen and (max-width: 1200px) {
  .navigation2 {
    display: none;
  }
  .hamburger2 {
    display: flex;
  }
  .top-header2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .row-11,
  .row-21 {
    flex-direction: row;
  }
  .text23 {
    max-width: 95%;
  }
  .form-submit-button1 {
    background-color: #8a53ff;
  }
}
@media screen and (max-width: 960px) {
  .hamburger-menu-icon2 {
    display: flex;
  }
  .top-header2 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .text14 {
    max-width: 100%;
  }
  .search-cta1 {
    width: 100%;
  }
  .search-cta1:hover {
    align-items: center;
    justify-content: center;
  }
  .formcontainer1 {
    width: 300px;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .description4 {
    align-self: stretch;
    width: auto;
  }
  .card-14,
  .card-24,
  .card-34 {
    flex: unset;
    align-self: stretch;
  }
  .row-11 {
    flex-direction: column;
  }
  .card-44,
  .card-52 {
    flex: unset;
    align-self: stretch;
  }
  .row-21 {
    flex-direction: column;
  }
  .text23 {
    align-self: stretch;
    width: auto;
  }
  .contents14 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .input3,
  .input4 {
    flex: unset;
    align-self: stretch;
  }
  .input-row1 {
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: center;
  }
  .footer2 {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
  .footer-section2 {
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-0);
  }
}
@media screen and (max-width: 420px) {
  .navigation-right2 {
    display: flex;
  }
  .search-cta1,
  .search-cta1:hover {
    align-self: stretch;
    width: auto;
    max-width: 100%;
  }
  .card-15 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .cta2 {
    max-width: 100%;
  }
  .form-submit-button1 {
    align-self: stretch;
    width: auto;
    max-width: 100%;
  }
  .footer2 {
    gap: var(--gap-31xl);
    flex: unset;
    align-self: stretch;
  }
  .footer-section2,
  .footer2 {
    flex-direction: column;
  }
}
